@model ChangePasswordViewModel;
 @using TaskManagement.ViewModel;
@{
    ViewData["Title"] = "تسجيل الدخول";



    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="centered">
    <div class="account-container" dir="rtl">
        <div class="account-box">
            <h2 class="text-center mb-4">تغيير كلمة المرور</h2>
            <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <div class="input-group">
                        <input asp-for="NewPassword" class="form-control" id="NewPasswordInput" />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('NewPasswordInput')">👁️</button>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>  <div class="form-group">
                    <label asp-for="ConfirmNewPassword"></label>
                    <div class="input-group">
                        <input asp-for="ConfirmNewPassword" class="form-control" id="ConfirmNewPasswordInput" />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('ConfirmNewPasswordInput')">👁️</button>
                    </div>
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="إرسال" class="btn btn-success w-100 p-2" />
                </div>
                @*             <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none mt-3">Back</a>
                </div> *@
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    <script src="~/js/HidePassword.js"></script>

}